@import 'partials/reset.scss';
@import 'partials/media.scss';
@import 'partials/mixin.scss';
@import 'partials/slick.scss';

html {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
}

section{

	.lnk-top{
		position: absolute;
		top: -70px;
		right: 0;
		padding-right: 20px;
		@include font-size(12px);
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 300;
		background-image: url(../img/sprite.png);
		background-repeat: no-repeat;

		@include respond-to($phone){
			top:-25px;
		}

		@include respond-to($phone-landscape) {
	        top:-50px;
		}
	}
}

header{
	width: 100%;
	height: 115px;
	position: fixed;
	z-index: 9999;

	.container{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;

		@include respond-to($large-desktop){
			width: 1170px;
		}

		@include respond-to($phone){
			width: 100%;
		}

		@include respond-to($phone-landscape) {
	        width: 100%;
		}

		.row{

			.logo{
				float: left;
				margin-top: 50px;

				a{
					img{
						width: 151px;
						height: 48px;

						@include respond-to($phone){
							width: 80px;
							height: 25px;
						}

						@include respond-to($phone-landscape) {
							width: 90px;
							height: 29px;
						}
					}
				}

				@include respond-to($phone){
					margin-top: 10px;
				}

				@include respond-to($phone-landscape) {
			        margin-top: 10px;
				}
			}

			.service{
				float: right;
				margin: 17px 0 35px 0;

				span{
					float: left;
					@include font-size(11px);
					color: #fff;
					text-transform: uppercase;
					padding: 0 5px;
					border-right: 1px solid #fff;

					&:first-child, &:last-child{
						border-right: none;
						padding-right: 0;
					}
				}

				@include respond-to($phone){
					display: none;
				}

				@include respond-to($phone-landscape) {
			        display: none;
				}
			}

			nav{
				float: right;
				clear: right;

				ul{
					li{
						float: left;
						margin-right: 60px;

						a{
							position: relative;
							@include font-size(18px);
							color: #fff;
							text-transform: uppercase;
							font-weight: 300;
							text-decoration: none;

							@include respond-to($phone){
								@include font-size(11px);
								display: block;
							}

							@include respond-to($phone-landscape) {
						        @include font-size(11px);
							}

							&.underline{

									&:after{
										content: '';
										position: absolute;
										left: 0;
										display: inline-block;
										height: 1em;
										width: 100%;
										border-bottom: 1px solid;
										margin-top: 10px;
										opacity: 0;
										-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
										transition: opacity 0.35s, transform 0.35s;
										-webkit-transform: scale(0,1);
										transform: scale(0,1);

										@include respond-to($phone){
											margin-top: 5px;
										}
									}

								&:hover{

									&:after{
										opacity: 1;
										-webkit-transform: scale(1);
										transform: scale(1);
									}
								}
							}
						}

						&.login{
							margin-right: 10px;

							a{
								@include font-size(13px);
								text-align: center;
								padding: 16px 30px 10px;
								background-color: #4192cb;
								border-bottom: 6px solid #3a7eb0;
								@include transition(all 150ms ease-in-out);

								@include respond-to($phone){
									@include font-size(10px);
									padding: 6px 12px 0;
								}

								@include respond-to($phone-landscape) {
							        @include font-size(10px);
							        padding: 6px 12px 0;
								}

								&:hover{
									background-color: #48a7e9;
								}
							}

							@include respond-to($phone){
								margin-right: 3px;
							}

							@include respond-to($phone-landscape) {
								margin-right: 3px;
							}
						}

						&.open-account{
							margin-right: 0;

							a{
								@include font-size(13px);
								padding: 13px 20px;
								border: 3px solid #dd1987;
								color: #e63598;
								@include transition(all 150ms ease-in-out);

								@include respond-to($phone){
									@include font-size(10px);
									padding: 3px 7px;
								}

								@include respond-to($phone-landscape) {
							        @include font-size(10px);
							        padding: 3px 7px;
								}

								&:hover{
									-webkit-box-shadow:inset 0 0 200px 50px #ffffff;
									box-shadow:inset 0 0 200px 50px #ffffff;
								}
							}
						}

						@include respond-to($phone){
							float: none;
							margin: 0 3px 10px 0;
							display: block;
						}

						@include respond-to($phone-landscape) {
					        margin: 0 5px 10px 0;
					        display: block;
						}
					}
					
				}

				@include respond-to($phone){
					float: right;
					margin-top: 13px;
				}

				@include respond-to($phone-landscape) {
			        float: right;
					margin-top: 13px;
				}
			}
		}

		&:after{
			content: ""; 
			display: table; 
			clear: both;
		}
	}

	&.overlay{
		background-color: #000;
		opacity: 0.8;
	}

	@include respond-to($phone){
		height: 150px;
	}

	@include respond-to($phone-landscape) {
		height: 50px;
	}
}

section.principal{
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;

	@include respond-to($large-desktop){
		height: 807px;
		background-image: url(../img/bg-principal-desktop.jpg);
	}

	@include respond-to($phone){
		height: 150px;
		background-image: none;
		background-color: #151313;
	}

	@include respond-to($phone-landscape) {
		height: 215px;
        background-image: url(../img/bg-principal-mobile.jpg);
	}
}

section.about{
	padding: 100px 0;
	background-color: #eeeeee;

	.container{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;

		@include respond-to($large-desktop){
			width: 1170px;
		}

		@include respond-to($phone){
			width: 100%;
		}

		@include respond-to($phone-landscape) {
	        width: 100%;
		}

		.row{
			position: relative;

			h3{
				margin-bottom: 65px;
				@include font-size(50px);
				text-transform: uppercase;
				font-weight: 700;
				color: #3168b8;
				text-align: center;

				@include respond-to($phone){
					margin-bottom: 35px;
					@include font-size(34px);
				}

				@include respond-to($phone-landscape) {
					margin-bottom: 45px;
			        @include font-size(36px);
				}
			}

			.itens{

				article{
					width: 290px;
					float: left;
					margin: 0 40px 0;

					i{
						width: 90px;
						height: 90px;
						margin: 0 auto;
						display: block;

						&.icon{
							background-image: url(../img/sprite.png);
							background-repeat: no-repeat;

							&.in-good-hands{
								background-position: 0 0;
							}
							&.no-complications{
								background-position: 0 -98px;
							}
							&.any-place{
								background-position: 0 -198px;
							}
						}		
					}

					h4{
						width: 180px;
						margin: 10px auto 20px;
						@include font-size(22px);
						color: #fff;
						color: #509ace;
						font-weight: 700;
						text-align: center;
					}
					p{
						@include font-size(16px);
						line-height: 120%;
						color: #fff;
						color: #6b6d70;
						font-weight: 300;
						text-align: center;
					}
				}

				@include respond-to($phone){
					.slick-prev,.slick-next{
						position: absolute;
						width: 50px;
						height: 51px;
						top: 100px;
						border: none;
						text-indent: -9999px;
						background-image: url(../img/sprite.png);
						background-repeat: no-repeat;
						background-color: #eeeeee;
						z-index: 1;
					}
					.slick-prev{
						left: 0;
						background-position: -92px -315px;
					}
					.slick-next{
						right: 0;
						background-position: -92px -378px;
					}
					.slick-disabled{
						opacity: 0.4;
					}
				}

				@include respond-to($phone-landscape) {
			        .slick-prev,.slick-next{
						position: absolute;
						width: 55px;
						height: 59px;
						top: 100px;
						border: none;
						text-indent: -9999px;
						background-image: url(../img/sprite.png);
						background-repeat: no-repeat;
						background-color: #eeeeee;
						z-index: 1;
					}
					.slick-prev{
						left: 0;
						background-position: 0 -310px;
					}
					.slick-next{
						right: 0;
						background-position: 0 -380px;
					}
					.slick-disabled{
						opacity: 0.4;
					}
				}
			}
		}

		&:after{
			content: ""; 
			display: table; 
			clear: both;
		}

		.lnk-top{
			color: #4b4846;
			background-position: 40px -982px;
		}
	}

	@include respond-to($phone){
		padding: 40px 0;
	}

	@include respond-to($phone-landscape) {
        padding: 70px 0;
	}
}

section.services{
	position: relative;
	padding: 100px 0;
	background: url(../img/bg-services.jpg)repeat;

	.container{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;

		@include respond-to($large-desktop){
			width: 1170px;
		}

		@include respond-to($phone){
			width: 100%;
		}

		@include respond-to($phone-landscape) {
	        width: 100%;
		}

		.row{
			position: relative;

			h3{
				margin-bottom: 65px;
				@include font-size(50px);
				color: #fff;
				text-transform: uppercase;
				font-weight: 700;
				text-align: center;

				@include respond-to($phone){
					margin-bottom: 35px;
					@include font-size(34px);
				}

				@include respond-to($phone-landscape) {
					margin-bottom: 45px;
			        @include font-size(36px);
				}
			}

			ul{
				margin-top: 50px;

				li{
					float: left;
					margin-bottom: 15px;
					padding: 0px;
					position: relative;
					overflow: hidden;

					&:hover{

						.caption{
							transform: translateY(-250px);

							@include respond-to($phone){
								transform: translateY(-255px);
							}

							@include respond-to($phone-landscape) {
						        transform: translateY(-245px);
							}
						}
					}

					&:nth-child(1), &:nth-child(3){
						margin-right: 5px;
					}

					&:nth-child(1), &:nth-child(3){
						margin-right: 5px;

						@include respond-to($phone){
							margin-right: 0;
						}

						@include respond-to($phone-landscape) {
					        margin-right: 0;
						}
					}

					@include respond-to($phone){
						float: none;
					}

					@include respond-to($phone-landscape) {
					    float: none;
					}
				}

				img{
					display: block;
					max-width: 100%;
					height: auto;
					margin: 0px;
					padding: 0px;
					float: left;
					z-index: 4;
				}

				.caption{
					cursor: pointer;
					position: absolute;
					opacity: 1;
					top:245px;
					transform: translateY(-100px);
					@include transition(all 150ms ease-in-out);

					@include respond-to($phone){
						transform: translateY(-180px);
					}

					@include respond-to($phone-landscape) {
						transform: translateY(-120px);
					}

					.blur{
						background-color: rgba(62,57,57,0.7);
						height: 300px;
						width: 567px;
						z-index: 5;
						position: absolute;

						@include respond-to($phone){
							top: 10px;
							width: 290px;
						}

						@include respond-to($phone-landscape) {
							width: 450px;
						}
					}

					.caption-text{
						z-index: 10;
						color: #fff;
						position: absolute;
						width: 567px;
						height: 300px;
						text-align: center;
						top:45px;

						h1{
							margin-bottom: 40px;
							@include font-size(22px);
							color: #fff;
							text-transform: uppercase;
							font-weight: 500;

							@include respond-to($phone){
								@include font-size(14px);
								margin-bottom: 20px;
							}

							@include respond-to($phone-landscape) {
								@include font-size(18px);
							}
						}

						p{
							padding: 0 90px;
							@include font-size(14px);
							color: #a2958a;
							font-weight: 300;

							@include respond-to($phone){
								padding: 0 40px;
								@include font-size(13px);
							}

							@include respond-to($phone-landscape) {
								padding: 0 50px;
								@include font-size(14px);
							}
						}

						@include respond-to($phone){
							top: 30px;
							width: 290px;
						}

						@include respond-to($phone-landscape) {
							top: 30px;
							width: 450px;
						}
					}
				}	
			}
		}

		&:after{
			content: ""; 
			display: table; 
			clear: both;
		}

		.lnk-top{
			color: #fff;
			background-position: 40px -971px;
		}
	}

	@include respond-to($phone){
		padding: 40px 0;
	}

	@include respond-to($phone-landscape) {
        padding: 70px 0;
	}
}

section.contact{
	position: relative;
	padding: 100px 0;
	background-color: #fff;

	.container{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;

		@include respond-to($large-desktop){
			width: 1170px;
		}

		@include respond-to($phone){
			width: 100%;
		}

		@include respond-to($phone-landscape) {
	        width: 100%;
		}

		.row{
			position: relative;

			h3{
				margin-bottom: 65px;
				@include font-size(50px);
				color: #3168b8;
				text-transform: uppercase;
				font-weight: 700;
				text-align: center;

				@include respond-to($phone){
					margin-bottom: 35px;
					@include font-size(34px);
				}

				@include respond-to($phone-landscape) {
					margin-bottom: 45px;
			        @include font-size(36px);
				}
			}

			.formContato{
				width: 500px;
				float: left;

				.title{
					width: 100%;
					float: left;
					margin-bottom: 35px;
					@include font-size(21px);
					color: #abb3b9;
				}

				form{
					width: 100%;

					input{
						float: left;
						margin-bottom: 10px;
						padding: 15px;
						border: 1px solid #dee4ea;
						@include border-radius(5px);
						@include font-size(15px);
						color: #597088;

						&:nth-child(1){
							width: 100%;

							@include respond-to($phone){
								width: 100%;
							}

							@include respond-to($phone-landscape) {
						        width: 100%;
							}
						}

						&:nth-child(2){
							width: 264px;
							margin-right: 15px;

							@include respond-to($phone){
								width: 100%;
							}

							@include respond-to($phone-landscape) {
						        width: 214px;
							}
						}

						&:nth-child(3){
							width: 65px;
							margin-right: 5px;
						}

						&:nth-child(4){
							width: 151px;

							@include respond-to($phone){
								width: 220px;
							}
						}
					}

					select{
						width: 100%;
						margin-bottom: 10px;
						padding: 15px;
						border: 1px solid #dee4ea;
						@include border-radius(5px);
						@include font-size(15px);
						color: #597088;
					}

					textarea{
						width: 100%;
						margin-bottom: 10px;
						padding: 15px;
						border: 1px solid #dee4ea;
						@include border-radius(5px);
						@include font-size(15px);
						color: #597088;
					}

					.botaoContato{
						border: none;
						float: right;
						padding: 20px 60px;
						background-color: #4192cb;
						border-bottom: 5px #3a7eb0;
						@include font-size(21px);
						color: #fff;
						font-weight: 700;
						cursor: pointer;

						@include respond-to($phone){
							@include font-size(16px);
							padding: 10px 30px;
						}

						@include respond-to($phone-landscape) {
							@include font-size(16px);
					        padding: 10px 30px;
						}
					}
				}

				@include respond-to($phone){
					float: none;
					width: 100%;
					display: inline-block;
					margin-bottom: 50px;
				}

				@include respond-to($phone-landscape) {
			        float: none;
			        width: 100%;
			        display: inline-block;
			        margin-bottom: 50px;
				}
			}

			.support{
				width: 500px;
				float: right;

				.title{
					width: 100%;
					float: left;
					margin-bottom: 35px;
					@include font-size(21px);
					color: #abb3b9;
				}

				.phones{
					width: 100%;
					float: left;

					a{
						float: left;
						padding: 15px 25px;

						&:nth-child(1){
							background-color: #008cd0;
							@include border-radius(5px 0 0 5px);
							@include font-size(15px);
							color: #fff;
							text-decoration: none;
							border: 1px solid #008cd0;
						}

						&:nth-child(2), &:nth-child(3), &:nth-child(4){
							@include font-size(15px);
							color: #595f62;
							text-decoration: none;
							border-top: 1px solid #e9e9e9;
							border-right: 1px solid #e9e9e9;
							border-bottom: 1px solid #e9e9e9;
						}

						&:nth-child(4){
							@include border-radius(0 5px 5px 0);
						}

						@include respond-to($phone){
							padding: 10px 20px;
						}
					}
				}

				strong{
					width: 100%;
					float: left;
					margin: 40px 0 25px 0;
					@include font-size(22px);
					color: #1388d9;
				}

				.info{
					width: 220px;
					float: left;
					margin-bottom: 35px;

					span{
						color: #6d7173;
						text-transform: uppercase;
						display: block;

						&:nth-child(1){
							@include font-size(14px);
							font-weight: 500;
							margin-bottom: 10px;
						}

						&:nth-child(2){
							@include font-size(18px);
							font-weight: 300;
						}

						&:nth-child(3){
							@include font-size(18px);
							color: #008cd0;
							font-weight: 500;
							text-transform: none;
						}
					}

					p{
						color: #6d7173;
						@include font-size(15px);
						line-height: 120%;
						margin-bottom: 10px;
					}

					&.whatsApp{
						width: 175px;
						padding-left: 50px;
						background: url(../img/sprite.png) no-repeat 0 -537px;

						@include respond-to($phone){
							@include font-size(16px);
							width: 180px;
						}

						@include respond-to($phone-landscape) {
							@include font-size(16px);
					        width: 180px;
						}
					}

					&:last-child{
						width: 240px;
						margin-bottom: 0;
					}
				}

				.chat{
					float: left;
					clear: left;
					width: 179px;
					height: 52px;
					margin-right: 40px;
					text-indent: -9999px;
					background: url(../img/sprite.png) no-repeat 0 -463px;

					@include respond-to($phone){
						margin-bottom: 35px;
					}
				}

				@include respond-to($phone){
					float: none;
					width: 100%;
					display: inline-block;
				}

				@include respond-to($phone-landscape) {
			        float: none;
			        width: 100%;
			        display: inline-block;
				}
			}
		}

		&:after{
			content: ""; 
			display: table; 
			clear: both;
		}

		.lnk-top{
			color: #b2aaaa;
			background-position: 40px -982px;
		}
	}

	@include respond-to($phone){
		padding: 40px 0;
	}

	@include respond-to($phone-landscape) {
        padding: 70px 0;
	}
}

footer{
	height: 250px;
	overflow: hidden;
	background: #404040; /* Old browsers */
	background: -moz-linear-gradient(top, #404040 65%, #4b4b4b 65%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #404040 65%,#4b4b4b 65%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #404040 65%,#4b4b4b 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#4b4b4b',GradientType=0 ); /* IE6-9 */

	.container{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;

		@include respond-to($large-desktop){
			width: 1170px;
		}

		@include respond-to($phone){
			width: 100%;
		}

		@include respond-to($phone-landscape) {
	        width: 100%;
		}

		.row{

			.brands{
				float: left;
				margin-top: 60px;
				border-right: 1px solid #535353;

				li{
					margin-right: 125px;
					float: left;

					a{
						float: left;
						text-indent: -9999px;

						&.brand-01{
							width: 142px;
							height: 38px;
							background: url(../img/sprite.png) no-repeat 0 -604px;
						}

						&.brand-02{
							width: 130px;
							height: 38px;
							background: url(../img/sprite.png) no-repeat 0 -718px;
						}

						&.brand-03{
							width: 148px;
							height: 38px;
							background: url(../img/sprite.png) no-repeat 0 -661px;
						}
						
					}

					&:last-child{
						margin-right: 90px;

						@include respond-to($phone){
							margin: 0 0 0 70px;
						}

						@include respond-to($phone-landscape) {
					        margin-right: 0;
						}
					}

					@include respond-to($phone){
						margin: 0 9px 15px 0;
					}

					@include respond-to($phone-landscape) {
				        margin-right: 15px;
					}
				}

				@include respond-to($phone){
					float: none;
					border-right: 0;
					overflow: hidden;
					margin-top: 10px;
				}

				@include respond-to($phone-landscape) {
					float: none;
					border-right: 0;
					overflow: hidden;
					margin-top: 30px;
				}
			}

			.social-medias{
				float: right;
				margin: 60px 0 0 70px;

				li{
					width: 41px;
					height: 41px;
					float: left;
					margin-right: 20px;

					a{
						width: 41px;
						height: 41px;
						float: left;
						text-indent: -9999px;
						background-image: url(../img/sprite.png);
						background-repeat: no-repeat;
						@include transition(all 150ms ease-in-out);

						&.facebook{
							background-position: 0 -778px;

							&:hover{
								background-position:0 -819px;
							}
						}

						&.twitter{
							background-position: -59px -777px;

							&:hover{
								background-position:-59px -819px;
							}
						}

						&.instagram{
							background-position: -117px -778px;

							&:hover{
								background-position:-117px -819px;
							}
						}

						&.linkedin{
							background-position: -174px -778px;

							&:hover{
								background-position:-174px -819px;
							}
						}

						&.youtube{
							background-position: -230px -778px;

							&:hover{
								background-position:-230px -819px;
							}
						}
					}

					&:last-child{
						margin-right: 0;
					}
				}

				@include respond-to($phone){
					float: none;
					overflow: hidden;
					margin: 15px 0 0 0;
				}

				@include respond-to($phone-landscape) {
					float: none;
					overflow: hidden;
					margin-top: 30px;
				}
			}
		}
	}

	&:after{
		content: ""; 
		display: table; 
		clear: both;
	}

	nav{
		float: left;
		margin-top: 100px;

		ul{
			li{
				float: left;
				@include font-size(11px);
				border-right: 1px solid #8e8a8a;
				padding: 0 5px;

				a{
					float: left;
					color: #8e8a8a;
					text-decoration: none;

					&:hover{
						color:#a9a2a2;
					}
				}

				&:last-child{
					border-right: 0;
				}
			}
		}

		@include respond-to($phone){
			margin-top: 30px;
		}

		@include respond-to($phone-landscape) {
			margin-top: 50px;
		}
	}
}

section.others-info{
	.container{
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;

		@include respond-to($large-desktop){
			width: 1170px;
		}

		@include respond-to($phone){
			width: 100%;
		}

		@include respond-to($phone-landscape) {
	        width: 100%;
		}

		.row{
			position: relative;

			ul{
				float: left;
				margin: 35px 0 0 48px;
				padding: 32px 80px 32px 0;
				border-right: 1px solid #d1d1d1;

				li{
					float: left;
					@include font-size(12px);
					border-right: 1px solid #626060;
					padding: 0 30px;
					font-weight: 300;
					text-transform: uppercase;

					a{
						float: left;
						color: #626060;
						text-decoration: none;
					}

					&:last-child{
						border-right: 0;
					}

					@include respond-to($phone){
						padding: 0 12px;

						&:first-child{
							padding: 0 15px 0 0;
						}
					}

					@include respond-to($phone-landscape) {
						padding: 0 12px;

						&:first-child{
							padding: 0 15px 0 0;
						}
					}
				}

				@include respond-to($phone){
					margin: 35px 0 0 0;
					padding: 0;
					border-right: 0;
					float: none;
					overflow: hidden;
				}

				@include respond-to($phone-landscape) {
					margin: 35px 0 0 0;
					padding: 0;
					border-right: 0;
				}
			}

			.prizes{
				width: 263px;
				height: 69px;
				float: right;
				margin-top: 35px;
				background: url(../img/sprite.png) no-repeat 0 -874px;

				@include respond-to($phone){
					float: none;
					margin: 35px auto 10px;
				}
			}

			.notice{
				float: left;
				margin-top: 50px;

				p{
					float: left;
					margin-bottom: 25px;
					@include font-size(12px);
					line-height: 20px;
					color: #95969b;
					text-transform: uppercase;

					@include respond-to($phone){
						@include font-size(10px);
					}

					@include respond-to($phone-landscape) {
				        @include font-size(11px);
					}
				}

				@include respond-to($phone){
					margin-top: 25px;
				}

				@include respond-to($phone-landscape) {
			        margin-top: 25px;
				}
			}
		}
	}

	&:after{
		content: ""; 
		display: table; 
		clear: both;
	}
}
